{% extends 'layout.html' %}

{% block content %}

<div class="container my-5">

    <div class="row separador-blog">
        <div class="col-lg-12 blog-detail-1">
            
            <h1 style="text-transform: uppercase;">{{post.title}}</h1>
            <p class="paragraph-gral" style="text-decoration: underline;">Posted on {{post.date}}</p>
            <div style="display: flex; justify-content: center;">
                <img class="img-blog-detail" src="{{post.image.url}}" alt="{{post.title}}">
            </div>
            <div class="contenedor-paragraph" style="display: flex; justify-content: center; flex-direction: column;">
                <p>{{post.description|safe}}</p>
            </div>
            <div class=" section-blog my-2" style="width: 100%;" >
                {% if post.image2 %}
                <a href="{{post.image2.url}}" target="_blank"  style="width: 40%;">
                    <img class="img-card" src="{{post.image2.url}}" alt="{{post.title}}" style="width: 100%; border-radius: 5px;">
                </a>
                {% endif %}
                {% if post.image3 %}
                <a href="{{post.image3.url}}" target="_blank" style="width: 40%;">
                    <img class="img-card" src="{{post.image3.url}}" alt="{{post.title}}" style="width: 100%; border-radius: 5px;">
                </a>
                {% endif %}
                {% if post.image4 %}
                <a href="{{post.image4.url}}" target="_blank" style="width: 40%;">
                    <img class="img-card" src="{{post.image4.url}}" alt="{{post.title}}" style="width: 100%; border-radius: 5px;">
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
