{% extends 'layout.html' %}
{% load static %}

{% block content %}

    <!-- Section About Me -->
    <div id="about-me"></div>
    <section class="container about-me ">
        <h3 class="text-project">About Me</h3>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h3 class="h1-gral">Desarrollador Frontend</h3>
                <p class="paragraph-gral">Hola soy Nowosad Marcos</p>
                <p class="paragraph-gral">Estudiante de Ingeniería Informática que día a día esta enfocado en superarse y de rodearse de personas con el mismo deseo de conseguir sus metas. Por eso mismo estoy en la búsqueda de mi primer trabajo como desarrollador Frontend, donde pueda expresar mis ideas, desarrollar mis aptitudes y sobre todo dar lo mejor de mi para que la empresa pueda obtener increíbles mejoras en el ámbito social y económico. </p>
                <p class="paragraph-gral"> Unos de mis pasatiempos favoritos es el constante aprendizaje, gracias a eso, la programación se volvió unos de mis hobbies favoritos, porque todos los días tengo nuevos desafíos que superar, y esos desafíos siempre dejan algo en el cual yo puedo mejorar. Y considero que la empresa a la cual vaya a aplicar, el principal requisito que voy a observar por encima de todos, es si puedo aprender algo de ellos.</p>
                <div class="boton-about">
                    <a class="btn btn-warning button-home  font-weight" href="{% url 'contactos' %}">Contact Me</a>
                </div>
            </div>

            <div >
                
            </div>
        </div>
    </section>

{% endblock %}