{% load static %}



<div class="container-fluid" style="display: flex; justify-content: center;">

    <footer class="footer-border">
        <div class="d-flex flex-column flex-sm-row flex-sm-column flex-md-row aling-items-center justify-content-around py-4 mt-4 footer-content" style="gap: 15px;">
            <p class="paragraph-gral">© 2023 NowosadMarcos, Inc. All rights reserved.</p>
            <div>
                <!-- style="display: flex; gap: 5px; font-size: 15px; align-items: center;" -->
               <p class="paragraph-gral font-weight">nowosadmarcos9@gmail.com</p>
                <p class="paragraph-gral font-weight">+54 1133043610</p>
            </div>
            <ul class="list-unstyled d-flex">
                <a class="icon-style" href=""><span class="px-3" style="font-size: 24px; justify-content: space-;"><i class="bi bi-twitter icon"></i></span></a>
                <a class="icon-style" href="https://www.instagram.com/marcos_nowosad/" target="_blank"><span class="px-3" style="font-size: 24px;"><i class="bi bi-instagram icon"></i></span></a>
                <a class="icon-style" href="https://github.com/MarcosNowosad" target="_blank"><span class="px-3" style="font-size: 24px; " ><i class="bi bi-github icon"></i></span></a>
            </ul>
        </div>
    </footer>

</div>
