{% extends 'layout.html' %}

{% block content %}
    <div class="contenedor">
        <form class="form" action="{% url 'contactos' %}" method="post"> {% csrf_token %}

            <h1 class="title">Contact Me</h1>
            <div>
                <label for="Name">Name</label>
                <input class="form-control" type="text" name="name" id="Name" placeholder="Name">
            </div>
            <div>
                <label for="Subject">Subject</label>
                <input class="form-control" type="text" name="subject" id="Subject" placeholder="Subject">
            </div>
            <div>
                <label for="Email">Email</label>
                <input class="form-control" type="email" name="email" id="" placeholder="example@gmail.com">
            </div>
            <div>
                <label for="comment">Message</label>
                <textarea class="form-control comment" name="message" id="comment" cols="30" rows="5" ></textarea>
            </div>
            <div class="my-2 button-contact">
                <button class="btn btn-light button-animated font-weight" type="reset">Reset</button>
                <button class="btn btn-warning button-animated font-weight" type="submit">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}